# SQL Queries in Jupyter Notebook

This notebook converts the provided SQL file into executable Python cells using `sqlite3`.
Each section is grouped by SQL functions/topics with explanation headings.

In [ ]:
import sqlite3
import pandas as pd

# Connect to SQLite (creates in-memory DB)
conn = sqlite3.connect(":memory:")

# Helper function to run queries
def run_query(query):
    try:
        return pd.read_sql_query(query, conn)
    except Exception as e:
        print("Error:", e)

## General Query
```sql
SELECT * FROM campusx.movies;
```

In [ ]:
run_query('''SELECT * FROM campusx.movies;''')

## General Query
```sql
SELECT * FROM campusx.ipl;
```

In [ ]:
run_query('''SELECT * FROM campusx.ipl;''')

## General Query
```sql
SELECT * FROM campusx.movies;
```

In [ ]:
run_query('''SELECT * FROM campusx.movies;''')

## String Function - RPAD
```sql
SELECT RPAD("8888888888",13,"+91");
```

In [ ]:
run_query('''SELECT RPAD("8888888888",13,"+91");''')

## String Function - RPAD
```sql
SELECT RPAD("88888888888",13,"+91");
```

In [ ]:
run_query('''SELECT RPAD("88888888888",13,"+91");''')

## String Function - LPAD
```sql
SELECT LPAD("8888888888",13,'+91');
```

In [ ]:
run_query('''SELECT LPAD("8888888888",13,'+91');''')

## String Function - LOCATE
```sql
SELECT LOCATE("w","superwomen");
```

In [ ]:
run_query('''SELECT LOCATE("w","superwomen");''')

## String Function - LOCATE
```sql
SELECT LOCATE("w","superwomen");
```

In [ ]:
run_query('''SELECT LOCATE("w","superwomen");''')

## String Function - LOCATE
```sql
SELECT LOCATE("w","wonderwomen");
```

In [ ]:
run_query('''SELECT LOCATE("w","wonderwomen");''')

## String Function - STRCMP
```sql
SELECT STRCMP("Delhi","Delhi");
```

In [ ]:
run_query('''SELECT STRCMP("Delhi","Delhi");''')

## String Function - STRCMP
```sql
SELECT STRCMP("Mumbai","Delhi");
```

In [ ]:
run_query('''SELECT STRCMP("Mumbai","Delhi");''')

## String Function - STRCMP
```sql
SELECT STRCMP("Mumbai","Delhi");
```

In [ ]:
run_query('''SELECT STRCMP("Mumbai","Delhi");''')

## String Function - STRCMP
```sql
SELECT STRCMP("Delhi","Mumbai");
```

In [ ]:
run_query('''SELECT STRCMP("Delhi","Mumbai");''')

## String Function - SUBSTRING_INDEX
```sql
SELECT SUBSTRING_INDEX("www.campusx.in",".",2);
```

In [ ]:
run_query('''SELECT SUBSTRING_INDEX("www.campusx.in",".",2);''')

## String Function - SUBSTRING_INDEX
```sql
SELECT SUBSTRING_INDEX("www.campusx.in",".",1);
```

In [ ]:
run_query('''SELECT SUBSTRING_INDEX("www.campusx.in",".",1);''')

## String Function - LTRIM
```sql
SELECT LTRIM("       NIKHIL        ");
```

In [ ]:
run_query('''SELECT LTRIM("       NIKHIL        ");''')

## String Function - LTRIM
```sql
SELECT LTRIM("...................NIKHIL.............");
```

In [ ]:
run_query('''SELECT LTRIM("...................NIKHIL.............");''')

## String Function - RTRIM
```sql
SELECT RTRIM("...................NIKHIL................");
```

In [ ]:
run_query('''SELECT RTRIM("...................NIKHIL................");''')

## String Function - TRIM
```sql
SELECT TRIM("               NIKHIL           ");
```

In [ ]:
run_query('''SELECT TRIM("               NIKHIL           ");''')

## String Function - TRIM
```sql
SELECT TRIM("               NIKHIL           ");
```

In [ ]:
run_query('''SELECT TRIM("               NIKHIL           ");''')

## String Function - TRIM
```sql
SELECT TRIM("               NIKHIL           ");
```

In [ ]:
run_query('''SELECT TRIM("               NIKHIL           ");''')

## String Function - REPEAT
```sql
SELECT REPEAT(name,3) FROM movies;
```

In [ ]:
run_query('''SELECT REPEAT(name,3) FROM movies;''')

## String Function - REPEAT
```sql
SELECT REPEAT(name,3) FROM movies;
```

In [ ]:
run_query('''SELECT REPEAT(name,3) FROM movies;''')

## String Function - REPEAT
```sql
SELECT REPEAT(name,3) FROM movies;
```

In [ ]:
run_query('''SELECT REPEAT(name,3) FROM movies;''')

## String Function - RIGHT
```sql
SELECT name,RIGHT(name,3)FROM movies;
```

In [ ]:
run_query('''SELECT name,RIGHT(name,3)FROM movies;''')

## String Function - LEFT
```sql
SELECT name,LEFT(name,3)FROM movies;
```

In [ ]:
run_query('''SELECT name,LEFT(name,3)FROM movies;''')

## String Function - INSERT
```sql
SELECT name,INSERT("Titanic",3,2,"TRY") FROM movies;
```

In [ ]:
run_query('''SELECT name,INSERT("Titanic",3,2,"TRY") FROM movies;''')

## String Function - INSERT
```sql
SELECT name,INSERT("Titanic",3,2,"TRY") FROM marks;
```

In [ ]:
run_query('''SELECT name,INSERT("Titanic",3,2,"TRY") FROM marks;''')

## String Function - INSERT
```sql
SELECT name,INSERT("Titanic",3,2,"TRY");
```

In [ ]:
run_query('''SELECT name,INSERT("Titanic",3,2,"TRY");''')

## String Function - INSERT
```sql
SELECT INSERT("HELLO",3,2,"INDIA");
```

In [ ]:
run_query('''SELECT INSERT("HELLO",3,2,"INDIA");''')

## String Function - INSERT
```sql
SELECT INSERT("HELLO",3,0,"INDIA");
```

In [ ]:
run_query('''SELECT INSERT("HELLO",3,0,"INDIA");''')

## String Function - INSERT
```sql
SELECT INSERT("HELLO",0,0,"INDIA");
```

In [ ]:
run_query('''SELECT INSERT("HELLO",0,0,"INDIA");''')

## String Function - INSERT
```sql
SELECT INSERT("HELLO","INDIA");
```

In [ ]:
run_query('''SELECT INSERT("HELLO","INDIA");''')

## String Function - INSERT
```sql
SELECT INSERT("HELLO",2,0,"INDIA");
```

In [ ]:
run_query('''SELECT INSERT("HELLO",2,0,"INDIA");''')

## String Function - INSERT
```sql
SELECT INSERT("HELLO",2,1,"INDIA");
```

In [ ]:
run_query('''SELECT INSERT("HELLO",2,1,"INDIA");''')

## String Function - LENGTH
```sql
SELECT name,LENGTH(name),CHAR_LENGTH(name) FROM movies
```

In [ ]:
run_query('''SELECT name,LENGTH(name),CHAR_LENGTH(name) FROM movies''')

## String Function - LENGTH
```sql
WHERE LENGTH(name) != CHAR_LENGTH(name);
```

In [ ]:
run_query('''WHERE LENGTH(name) != CHAR_LENGTH(name);''')

## String Function - LENGTH
```sql
SELECT name,LENGTH(name),CHAR_LENGTH(name) FROM movies
```

In [ ]:
run_query('''SELECT name,LENGTH(name),CHAR_LENGTH(name) FROM movies''')

## String Function - LENGTH
```sql
WHERE LENGTH(name) != CHAR_LENGTH(name);
```

In [ ]:
run_query('''WHERE LENGTH(name) != CHAR_LENGTH(name);''')

## String Function - LENGTH
```sql
SELECT name,LENGTH(name),CHAR_LENGTH(name) FROM movies;
```

In [ ]:
run_query('''SELECT name,LENGTH(name),CHAR_LENGTH(name) FROM movies;''')

## String Function - LENGTH
```sql
SELECT name,LENGTH(name) FROM movies;
```

In [ ]:
run_query('''SELECT name,LENGTH(name) FROM movies;''')

## String Function - LENGTH
```sql
SELECT LENGTH(name) FROM movies;
```

In [ ]:
run_query('''SELECT LENGTH(name) FROM movies;''')

## String Function - LENGTH
```sql
SELECT LENGTH(name) FROM movies;
```

In [ ]:
run_query('''SELECT LENGTH(name) FROM movies;''')

## General Query
```sql
SELECT name FROM movies
```

In [ ]:
run_query('''SELECT name FROM movies''')

## String Function - REVERSE
```sql
WHERE name = REVERSE(name);
```

In [ ]:
run_query('''WHERE name = REVERSE(name);''')

## String Function - REPLACE
```sql
SELECT name,REPLACE(name,"man","Women") FROM movies;
```

In [ ]:
run_query('''SELECT name,REPLACE(name,"man","Women") FROM movies;''')

## String Function - SUBSTR
```sql
SELECT name,SUBSTR(name,-6) FROM movies;
```

In [ ]:
run_query('''SELECT name,SUBSTR(name,-6) FROM movies;''')

## String Function - SUBSTR
```sql
SELECT name,SUBSTR(name,-6) FROM movies;
```

In [ ]:
run_query('''SELECT name,SUBSTR(name,-6) FROM movies;''')

## String Function - SUBSTR
```sql
SELECT name,SUBSTR(name,-6) FROM movies;
```

In [ ]:
run_query('''SELECT name,SUBSTR(name,-6) FROM movies;''')

## String Function - SUBSTR
```sql
SELECT name,SUBSTR(name,-1) FROM movies;
```

In [ ]:
run_query('''SELECT name,SUBSTR(name,-1) FROM movies;''')

## String Function - SUBSTR
```sql
SELECT name,SUBSTR(name,1,6) FROM movies;
```

In [ ]:
run_query('''SELECT name,SUBSTR(name,1,6) FROM movies;''')

## String Function - SUBSTR
```sql
SELECT name,SUBSTR(name,1,5) FROM movies;
```

In [ ]:
run_query('''SELECT name,SUBSTR(name,1,5) FROM movies;''')

## String Function - CONCAT
```sql
SELECT CONCAT_WS('----->',name,director,UPPER(star)) FROM movies;
```

In [ ]:
run_query('''SELECT CONCAT_WS('----->',name,director,UPPER(star)) FROM movies;''')

## String Function - CONCAT
```sql
SELECT CONCAT(name,'----------->',director,'-------->',UPPER(star)) FROM movies;
```

In [ ]:
run_query('''SELECT CONCAT(name,'----------->',director,'-------->',UPPER(star)) FROM movies;''')

## String Function - CONCAT
```sql
SELECT CONCAT(name,'----------->',director,UPPER(star)) FROM movies;
```

In [ ]:
run_query('''SELECT CONCAT(name,'----------->',director,UPPER(star)) FROM movies;''')

## String Function - CONCAT
```sql
SELECT CONCAT(name,'----------->',director) FROM movies;
```

In [ ]:
run_query('''SELECT CONCAT(name,'----------->',director) FROM movies;''')

## String Function - CONCAT
```sql
SELECT CONCAT(name,'---->',director) FROM movies;
```

In [ ]:
run_query('''SELECT CONCAT(name,'---->',director) FROM movies;''')

## String Function - CONCAT
```sql
SELECT CONCAT(name,'-- ',director) FROM movies;
```

In [ ]:
run_query('''SELECT CONCAT(name,'-- ',director) FROM movies;''')

## String Function - CONCAT
```sql
SELECT CONCAT(name,' ',director) FROM movies;
```

In [ ]:
run_query('''SELECT CONCAT(name,' ',director) FROM movies;''')

## String Function - UPPER
```sql
SELECT name,UPPER(name),LOWER(name) FROM movies;
```

In [ ]:
run_query('''SELECT name,UPPER(name),LOWER(name) FROM movies;''')

## General Query
```sql
SELECT name FROM movies
```

In [ ]:
run_query('''SELECT name FROM movies''')

## Pattern Matching - LIKE
```sql
WHERE name LIKE 'T%c';
```

In [ ]:
run_query('''WHERE name LIKE 'T%c';''')

## General Query
```sql
SELECT * FROM movies;
```

In [ ]:
run_query('''SELECT * FROM movies;''')

## General Query
```sql
SELECT name FROM movies
```

In [ ]:
run_query('''SELECT name FROM movies''')

## Pattern Matching - LIKE
```sql
WHERE name LIKE 'T%c';
```

In [ ]:
run_query('''WHERE name LIKE 'T%c';''')

## General Query
```sql
SELECT name FROM movies
```

In [ ]:
run_query('''SELECT name FROM movies''')

## Pattern Matching - LIKE
```sql
WHERE name LIKE 'g%i';
```

In [ ]:
run_query('''WHERE name LIKE 'g%i';''')

## General Query
```sql
SELECT name FROM movies
```

In [ ]:
run_query('''SELECT name FROM movies''')

## Pattern Matching - LIKE
```sql
WHERE name LIKE 'A____';
```

In [ ]:
run_query('''WHERE name LIKE 'A____';''')

## General Query
```sql
SELECT name FROM movies
```

In [ ]:
run_query('''SELECT name FROM movies''')

## Pattern Matching - LIKE
```sql
WHERE name LIKE '_____';
```

In [ ]:
run_query('''WHERE name LIKE '_____';''')