## Freedom Ranking for Different Countries

You can get the dataset from [here](https://drive.google.com/drive/folders/1wr0J571rlfexEJ4-de6_tz1QvU-cJ0df?usp=share_link).

Some feature details of the dataset:

| Feature | Description |
| :--: | :-- |
| A | Electoral Process |
| B | Political Pluralism and Participation |
| C | Functioning of Government |
| D | Freedom of Expression and Belief |
| E | Associational and Organizational Rights |
| F | Rule of Law |
| G | Personal Autonomy and Individual Rights |
| CL | Civil Liberties Scores |
| Status | F=Free, PF=Partly Free, NF=Not Free |


###`Q-1` Find out top 10 countries' which have maximum A and D values.


###`Q-2` Find out highest CL value for 2020 for every region. Also sort the result in descending order. Also display the CL values in descending order.

## Dataset
Data Link-> https://drive.google.com/drive/folders/1bGgNTDy5L_IodNcGHdB_SNCkUI5MUjmY?usp=share_link
Four Tables:
* Customer
* Employee
* Sales
* Products

###`Q-3` Find top-5 most sold products.

### `Q-4:` Find sales man who sold most no of products.

### `Q-5:` Sales man name who has most no of unique customer.

###`Q-6:` Sales man who has generated most revenue. Show top 5.

###`Q-7:` List all customers who have made more than 10 purchases.

### `Q-8` : List all salespeople who have made sales to more than 5 customers.

### `Q-9:` List all pairs of customers who have made purchases with the same salesperson.

In [1]:
# QUESTION 1).

In [2]:
# SELECT * FROM (SELECT Country,A FROM campusx.country_ab
# ORDER BY A DESC LIMIT 10) A
# LEFT JOIN
# (SELECT Country,D FROM campusx.country_cd
# ORDER BY D DESC LIMIT 10) D
# ON A.Country = D.Country;

# SELECT * FROM (SELECT Country,A FROM campusx.country_ab
# ORDER BY A DESC LIMIT 10) A
# RIGHT JOIN
# (SELECT Country,D FROM campusx.country_cd
# ORDER BY D DESC LIMIT 10) D
# ON A.Country = D.Country;

# SELECT * FROM (SELECT Country,A FROM campusx.country_ab
# ORDER BY A DESC LIMIT 10) A
# UNION
# (SELECT Country,D FROM campusx.country_cd
# ORDER BY D DESC LIMIT 10) D
# ON A.Country = D.Country

In [3]:
# QUESTION 2).

In [4]:
# SELECT Region,t1.Edition, MAX(CL) AS 'Maxclvalue' FROM campusx.country_efg t1
# JOIN campusx.country_cl t2
# ON t1.Country = t2.Country
# WHERE t1.Edition = 2020
# GROUP BY Region
# ORDER BY Maxclvalue DESC

In [6]:
# QUESTION 3).

In [ ]:
# SELECT NAME,SUM(Quantity) AS 'total_quantity' FROM company.sales1 t1
# JOIN company.products t2
# ON t1.ProductID = t2.ProductID
# GROUP BY t1.ProductID
# ORDER BY total_quantity DESC LIMIT 5